<div class="season-component-header">
    <h1>Race Results</h1>
    <h2>Season {{season}} Race Results</h2>
</div>
<div class="season-component-races">
    <ng-container *ngFor="let race of races; trackBy: trackByRace">
        <div class="season-component-race" [ngClass]="{ highlighted: isWinner(race.Results[0].Driver) }">
            <h3 class="season-component-race-title">{{ race.raceName }}</h3>
            <section class="season-component-race-content">
                <app-driver-card *ngIf="race.Results[0].Driver as driver" [firstName]="driver.givenName"
                    [lastName]="driver.familyName" [nationality]="driver.nationality"
                    [age]="driver.dateOfBirth | age:season">
                </app-driver-card>
                <div><label>Date: </label>{{ race.date }}</div>
                <div><label>Track: </label>{{race.Circuit.circuitName}}</div>
            </section>
        </div>
    </ng-container>
</div>