.season-component {
    display: block;

    .season-component-header {
        padding: 8px 12px;
    }


    &-race {
        margin-bottom: 8px;

        &-title {
            height: 40px;
            display: flex;
            align-items: center;
            padding-left: 16px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            padding: 8px 12px;
        }
    }
}