@import "./assets/themes/theme.scss";
@import "./assets/themes/core.theme";
@import "./app/app.component.theme";
@import "./app/driver/driver-card/driver.card.component.theme";
@import "./app/winners/winners.component.theme";
@import "./app/season/season.component.theme";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
	font-size: 10px;
	line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

[hidden] {
	display: none !important;
}

a {
	color: inherit;
	text-decoration: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.w-140 {
	width: 140px;
}

.w-120 {
	width: 120px;
}

.w-100 {
	width: 100px;
}

.w-90 {
	width: 90px;
}

.w-80 {
	width: 80px;
}

.w-70 {
	width: 70px;
}

.w-60 {
	width: 60px;
}

@media only screen and (max-width: 400px) {
	.xs-hidden {
		display: none;
	}
}


@include core-theme($theme);
@include app-theme($theme);
@include driver-card-theme($theme);
@include winners-theme($theme);
@include season-theme($theme);