@import "../styles/color-palette.scss";

$primary: $white;
$accent: $red;
$text-color: $black;

$theme: (
	primary: $primary,
	accent: $accent,

	primary-text-color: $black,
	hightlighted-text-color: $dark-cyan,

	accent-text-color: $white,
    
    text-color: $text-color,
	text-lighter-1: lighten($text-color, 10%),
	text-lighter-2: lighten($text-color, 20%),
	text-lighter-3: lighten($text-color, 30%),
	text-lighter-4: lighten($text-color, 40%),

	border-color: #dfdfdf
);